*{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #020a20;
    opacity: .9;
}
header{
    display: flex;
    justify-content: space-between;
    background: #000;
    width: 100%;
}
.star{
    position:absolute;
    font-size: 150px;
    right: 100px;
    top: 150px;

}
.logo img{
    border-radius: 50%;
    filter: grayscale(100%);
}
.logo{
    margin-left: 3rem;
    margin-top: .5rem;
}
.right ul{
    display: flex;
    margin-right: 50px;
    margin-top: 2rem;

}
.right ul li a{
    margin-left: 50px;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    transition: .5s;
}
.right ul li a:hover{
    color: wheat;
    text-decoration: underline;
    letter-spacing:1px;
}
.list{
    display: none;
}
.bg-blue{
    width: 100%;
    height: 550px;
    position: absolute;
    background-color: #020a20;
    opacity: .9;
    z-index: 92;
}
.a_right img{
    filter: grayscale(100%);
}
.section{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/1001/548/939/binary-code-computer-visual-effects-wallpaper-preview.jpg);
    height:550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Im{
    position: relative;
    z-index: 99; 
    display: flex; 
    justify-content: center;
    align-items: center;
    height:550px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    
} 
.Im ul{
    transition: .4s;
}
.Im ul li{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.Im ul:hover{
    font-size: 2.7rem;
}
.about{
    width: 90%;
    margin: auto;
}
.a_fotn{
    font-size: 1.4rem;
}
.a_right img{
    border-radius: 50%;
}
.a_blue{
    width: 350px;
    height: 450px;
    position: absolute;
    background-color: #020a20;
    z-index: 77;
    opacity: .2;

}
.a_left{
   width: 70%;
}
.i-parent i{
    margin-right: 1rem;
}
.i-parent ul li{
    margin-top: 1rem;
}
.iletisim{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: white;
    margin-top: 5rem;
    padding: 5rem 1.5rem;
    border-radius: 25px 0;
    text-align: start!important;
}
.i-parent{
    font-size: 1.3rem;
}
.social{
    width: 50%;
}

.social ul li{
    text-align: center;
    margin-left: 4rem;
    font-size:2.6rem;
}
.iletisim a{
    color: #524c4c!important;
    font: 2rem;
    transition: .4s;
    font-weight: bold;

}
.iletisim a:hover{
    color: #838585!important;
    font: 2rem;
    transition: .4s;
}
.social i:hover{
    color: #838585!important;
    font: 2rem;
    transition: .4s;
}
.comment_past{
    padding-right: 2rem;
}
.comment{
    color: white;
    font-size: 1.2rem;
    margin: auto;
}
.comment input{
    font-size: 1.4rem;
    margin-top: .5rem;
    width: 450px;
}
#submit{
    width: 100px;
    padding: .4rem;
    background:#c0c1c2;
    font-weight: 600;
    border-radius: 10px;
}
#submit:hover{
    background: white;
}
.comment label{
    margin-top: 5rem;
}
.cd li{
    padding: 2px;
}
.cd ul{
    margin-bottom: 7px;
    margin-top: 1rem;
}
.hr{
    border: #626263 1px solid ;
}
footer{
    margin-bottom: 5rem;
}
/*********************************/
/********* netflix *********/
.net_left{
    padding: 3rem;
    width: 60%;
}
.net_right{
    width: 40%;
 }
.net_right img{
   width: 100%;
   background-size: cover
}
.aksan_right{
    width: 35%;
 }
.aksan_right img{
    width: 100%;
    background-size: cover
}
 










@media only screen and (max-width: 1100px) {
    .net_left{
        font-size: 1.3rem!important;
    }
  }
@media only screen and (max-width: 860px) {
    .right ul li a{
        display: none;
    }
    .fa-solid{
        display: block;
        font-size: 1.5rem;
        margin-top: -.7rem;
        margin-right: 3rem;
    }
    .logo img{
        width: 50px;
    }
    .Im li{
        font-size: 1.8rem;
    }
    .section, .Im, .bg-blue{
        height: 300px;
    }
    .about{
        display: block;
    }
    .a_left, .a_right{
        width: 90%!important;
        margin: auto;
    }
    .a_fotn{
       padding: 1rem;
     }
     .a_right{
        text-align: center;
     }
     .netflix{
        display: block!important;
     }
     .net_left ,.net_right{
        width: 100%!important;
     }
     .footer{
        display: block;
     }
     .bg-blue{
        width: 100%;
     }
     .iletisim{
        display: block;
     }
     .i-parent li{
        width: 100%;
        text-align: center;
     }
     .social{
        width: 100%;
        display: flex;
        justify-content: center;
     }
    .social ul li{
        margin-left: 2rem;
        font-size:2rem;
    }
    .comment input{
        width: 100%!important;
    }
  
  }
  @media only screen and (max-width: 480px) {
    .fa-solid{
        margin-right: 1rem;
    }
    .logo{
        margin-left: 1rem;
    }
    .Im li{
        font-size: 1rem;
    }
    .section, .Im, .bg-blue{
        height: 200px;
    }
  }